{% extends 'plugins/AdminUI/template/admin_page.html' %}

{% block admin_panel %}
    {{ parent() }}

    {% if Plugin.config.hide_create %}

    {% else %}

        <div class="section">
            <input type="button" 
            value="{% trans 'Create' %} New {{ CRUD.object.model.label }}" 
                onclick=" Region.after( $(this).parents('.section').get(0) , '/bs/{{ CRUD.object.crudId }}/crud/create' ); return false;"/>
        </div>
    {% endif %}

    {% if tiles %}
        {% for tile in tiles %}
            {{ tile | raw }}
        {% endfor %}
    {% endif %}

{% endblock %}
