{# 
    vim:filetype=jinja 
#}
{# /bs/news/crud/list #}
<div class="section">
    <div class="hd">
        {{ CRUD.List.title }}

        {% if Kernel.getPlugin('I18N') %}
            {% for key,lang in Web.langs %}
                {% if Env.request._data_lang == key %}
                    {% trans 'Language' %}: {{ lang }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="bd">
		{% block controll %}
            {# list I18n selector #}
            {% if Kernel.getPlugin('I18N') and CRUD.object.model.getColumn('lang') %}
                <div class="corner-controll" style="display: inline;">
                    {% trans 'Language' %}: <select name="_data_lang" id="lang-chooser" onchange=" return (function(o) { 
                                    Region.of(o).refreshWith({ _data_lang: o.value });
                                })(this);">
                        <option></option>
                        {% for key,lang in Web.langs %}
                            {% if Env.request._data_lang == key %}
                                <option value="{{ key }}" selected>{{ lang }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ lang }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="clear"> </div>
            {% endif %}
		{% endblock %}

        {% block order_by %} {% endblock %}

        {{ CRUD.List.pager | raw }}

        <script>
            function column_sort( o, name , sort_by ) {
                var r = Region.of(o);
                r.refreshWith({ _order_column: name , _order_by: sort_by } );
                return false;
            }
        </script>

        {% block list %}

            {% set order_column = Env.request._order_column ? Env.request._order_column : 'id' %}
            {% set order_by     = Env.request._order_by     ? Env.request._order_by     : 'desc' %}

            <table class="result" width="100%">
                <thead>
                    <tr>

                        {% block prepend_thead %}

                        {% endblock %}

                        {% for column in CRUD.List.columns %}

                            <th class="column-header"> 
                                {% set label = CRUD.object.model.getColumn(column).getLabel %}
                                <span class="column-name">{{ label }}</span> 

                                {% if order_column == column and order_by == "desc" %}
                                    <div title="Sort ascending by {{ label }}" class="column-sort-asc" onclick=" return column_sort( this, '{{ column }}' , 'asc' ); "> </div>
                                {% else %}
                                    <div title="Sort descending by {{ label }}" class="column-sort-desc" onclick=" return column_sort( this, '{{ column }}' , 'desc'); "> </div>
                                {% endif %}

                            </th>
                        {% endfor %}
                        <th> - - - -  </th>
                    </tr>
                </thead>
                <tbody>

                {% if not CRUD.List.items %}

                    <tr> <td> {% trans 'No Data' %} </td> </tr>
                {% endif %}

                {% for item in CRUD.List.items %}

                    {% block row %}

                        {% if loop.index is even %} 
                            <tr class="even"> 
                        {% else %} 
                            <tr class="old"> 
                        {% endif %}

                            {% block prepend_tbody %}

                            {% endblock %}

                            {% for column in CRUD.List.columns %}
                                <td> {{ item.display( column ) }} </td>
                            {% endfor %}

                            <td> 

                                {# --- javascript buttons --- #}
                                <input type="button" 
                                    value="{% trans "Edit" %}"
                                    onclick=" Region.before( this , '/bs/{{ CRUD.object.crudId }}/crud/edit' , { id:  {{ item.data.id }}  } ); "/>

                                <input type="button" 
                                    value="{% trans "Delete" %}"
                                    onclick=" runAction( '{{ CRUD.object.namespace }}::Action::Delete{{ CRUD.object.modelName }}' , { id: {{ item.data.id }}  } , { confirm: '確認刪除? ', removeTr: this } ); "/>

                                {% block extra_buttons %}

                                {% endblock %}

                            </td>
                        </tr>

                    {% endblock row %}
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}

        {{ CRUD.List.pager | raw }}

    </div>
</div>
