[submodule "vendor/Symfony/Component/Finder"]
	path = vendor/Symfony/Component/Finder
	url = git://github.com/symfony/Finder.git
[submodule "vendor/Symfony/Twig-extensions"]
	path = vendor/Symfony/Twig-extensions
	url = git://github.com/fabpot/Twig-extensions.git
[submodule "vendor/Symfony/fabpot-yaml"]
	path = vendor/fabpot-yaml
	url = https://github.com/fabpot/yaml.git
[submodule "vendor/firephp"]
	path = vendor/firephp
	url = https://github.com/firephp/firephp.git
[submodule "vendor/WebDriver"]
	path = vendor/WebDriver
	url = git://github.com/facebook/php-webdriver.git
