[submodule "vendor/symfony-finder"]
	path = vendor/symfony-finder
	url = git://github.com/symfony/Finder.git
[submodule "vendor/twig-extensions"]
	path = vendor/twig-extensions
	url = git://github.com/fabpot/Twig-extensions.git
[submodule "vendor/firephp"]
	path = vendor/firephp
	url = https://github.com/firephp/firephp.git
[submodule "vendor/webdriver"]
	path = vendor/webdriver
	url = git://github.com/facebook/php-webdriver.git
[submodule "vendor/yahoo/yos"]
	path = vendor/yahoo/yos
	url = https://github.com/yahoo/yos-social-php.git
[submodule "vendor/xhprof"]
	path = vendor/xhprof
	url = git://github.com/facebook/xhprof.git
