*.log
*.rar
*.tar
*.tar.bz2
*.tbz
*.zip
*.jar
.DS_Store
.gitmodules
.hg
.onion/
.svn
cache/
build
build/
config/*.php
coverage/
docs/_build/
tests/tmp/
utils/Selenium/
.lazy.php
assets/
config/application.yml
config/database.yml
config/framework.yml
config/testing.yml
vendor/
vendor/pear
webroot/assets
webroot/ph/
webroot/static/upload/
