*.log
*.rar
*.tar
*.tar.bz2
*.tbz
*.zip
*.jar
.sass-cache
.lazy.yml
.DS_Store
.gitmodules
.hg
.onion/
.svn
cache/
build
build/
config/*.php
coverage/
docs/_build/
tests/tmp/
tests/screenshots/*
utils/Selenium/
.lazy.php
config/application.yml
config/database.yml
config/framework.yml
config/testing.yml
vendor/
vendor/pear
webroot/assets
webroot/ph/
webroot/static/upload/
route
.lazy.php
cache/
config/application.yml
config/database.yml
config/framework.yml
tests/screenshots/
utils/Selenium/
cache.properties
*SchemaProxy.php
# *CollectionBase.php
*.swp
locale/*.mo
manifest.php
