[submodule "vendor/twig-extensions"]
	path = vendor/twig-extensions
	url = https://github.com/fabpot/Twig-extensions.git
[submodule "vendor/firephp"]
	path = vendor/firephp
	url = https://github.com/firephp/firephp.git
[submodule "vendor/yahoo/yos"]
	path = vendor/yahoo/yos
	url = https://github.com/yahoo/yos-social-php.git
[submodule "vendor/xhprof"]
	path = vendor/xhprof
	url = https://github.com/facebook/xhprof.git
[submodule "assets"]
	path = assets
	url = git@git.corneltek.com:assets.git
[submodule "vendor/assetkit"]
	path = vendor/assetkit
	url = git@git.corneltek.com:php/AssetKit.git
[submodule "vendor/lazyrecord"]
	path = vendor/lazyrecord
    url = git@git.corneltek.com:php/LazyRecord.git
