language: php
php:
- 7.0
install:
- travis_retry composer require satooshi/php-coveralls "^1" --no-update --dev --prefer-dist
- travis_retry composer install
before_script:
- phpenv rehash
script:
- phpunit -c phpunit.xml.dist
after_success:
- php vendor/bin/coveralls -v
cache:
  apt: true
  directories:
  - vendor
notifications:
  slack:
    secure: X+iimYs9fGh3K9PYgupJNaQn322zwP7gPKH/9EIcFQbZrwJaWDPrZC578FfF5ArMvUVV4T0O84le1Lm5bO1BsFd8O4qvZ8za9X8z05Jn2v6zWpqxhtN+l1nmpo+8m0lAc78yYLGHOeRrQQnNdHqo3fUZqJMb+kYKQPB9kLOJnzM=
