<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true"
         stopOnFailure="true"
         verbose="true">

  <php>
    <env name="DB_SQLITE_DSN" value="sqlite:tests.db"/>
    <server name="REMOTE_ADDR" value="0.0.0.0" />

    <const name="WEB_SERVER_HOST" value="localhost" />
    <const name="WEB_SERVER_PORT" value="3323" />
    <const name="WEB_SERVER_DOCROOT" value="./examples" />
  </php>

  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php">src</directory>
    </testsuite>

    <testsuite name="Functional Tests">
      <directory suffix="Test.php">tests</directory>
    </testsuite>

    <testsuite name="ProductBundle Integration Tests">
      <directory suffix="Test.php">tests/ProductBundle</directory>
    </testsuite>

    <testsuite name="OrderBundle Integration Tests">
      <directory suffix="Test.php">tests/OrderBundle</directory>
    </testsuite>
  </testsuites>
</phpunit>
