<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         stderr="true"
         colors="true"
         convertNoticesToExceptions="false"
         verbose="true">
         <!--
         debug="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         -->

  <testsuites>

        <testsuite name="Selenium">
            <directory suffix="Test.php">selenium</directory>
        </testsuite>

        <testsuite name="LazyRecord">
            <directory suffix="Test.php">tests/lazyrecord</directory>
        </testsuite>

        <testsuite name="Phifty">
            <directory suffix="Test.php">tests</directory>
        </testsuite>

  </testsuites>

  <!--
  <logging>
    <log type="coverage-html" target="build/coverage" title="Phifty"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>
  -->

  <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>
</phpunit>
