<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         stderr="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         verbose="true">
         <!--
         debug="true"
         convertWarningsToExceptions="true"
         -->

  <testsuites>
        <testsuite name="Phifty">
            <directory suffix="Test.php">tests/Phifty</directory>
            <exclude>_old</exclude>
        </testsuite>
        <testsuite name="ActionKit">
            <directory suffix="Test.php">tests/ActionKit</directory>
        </testsuite>

        <!--
        <testsuite name="Functional">
            <directory suffix="Test.php">tests/functional</directory>
        </testsuite>
        -->
  </testsuites>

  <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>
</phpunit>
