{#
vim:filetype=jinja:
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% set appname = Kernel.getAppName() %}
    {% block head %}

    <meta name="content" content="Content-Type: text/html; Charset: UTF-8; " />
	<meta charset="UTF-8"/> 
    <meta name="keywords" content="{{ Page.Keywords }}" />
    <meta name="description" content="{{ Page.Description }}"/>
    <title>{% block title %} {{ title|default(appname) }} {% endblock %}</title>
    {{ Web.include_assets|raw }}
    {{ Web.include_core_js|raw }}
    {{ Web.include_core_css|raw }}
    {{ Web.include_plugins|raw }}
    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
