{#
vim:filetype=jinja:
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% set appname = Kernel.getAppName() %}
    {% block head %}

    <meta name="content" content="Content-Type: text/html; Charset: UTF-8; " />
	<meta charset="UTF-8"/> 
    <meta name="keywords" content="{{ Page.Keywords }}" />
    <meta name="description" content="{{ Page.Description }}"/>
    <title>{% block title %} {{ title|default(appname) }} {% endblock %}</title>
    {{ Web.include_core_js|raw }}
    {{ Web.include_core_css|raw }}
    {{ Web.include_plugins|raw }}
    {% endblock %}
</head>
<body>
{% block body %}

{% block operation %}
    <div id="operation">  
        <img class="logo" src="/ph/Core/images/lart-logo.jpg"/>

        <div class="logo-text"> 
			{% block logo_text %}
                {{ appname }}
			{% endblock %}
        </div>


		{% block operation_buttons %}

        <div class="buttons">

            <form style=" display: inline; margin:0; padding:0; " name="lang_select" method="post">
                <input type="hidden" name="action" value="I18N::Action::ChooseLang"/>
                {% set currentLang = Kernel.lang.getCurrentLang %}
                {% set langList = Kernel.lang.getLangList %}
                <select name="lang" onchange=" this.form.submit();" style="margin:0;">
                    {% for langId,label in langList %}
                        <option value="{{ langId }}" {% if langId == currentLang %} selected {% endif %}>{{ label }} </option>
                    {% endfor %}
                </select>
            </form>

			{% if Kernel.user.isLogged() %}
                <a href="/bs/logout">{% trans 'Logout' %}</a>
			{% else %}
                <a href="/bs/login">{% trans 'Login' %}</a>
			{% endif %}

            {# <a href="" onclick=" $('#search-form').slideDown(); return false;" >{% trans 'Search' %}</a> #}
        </div>
		{% endblock %}

    </div>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %} 
{% endblock %}

{% block footer %}
<div style="padding-bottom:40px;">  </div>
<div style=" position: absolute; bottom: 0px; left: 0px; width: 100%; "> 
</div>
{% endblock %}


{% endblock %}
</body>
</html>
