{# base template of qunit #}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}QUnit Test Suite{% endblock %}</title>
        <link rel="stylesheet" href="/ph/widgets/QUnit/qunit/qunit/qunit.css" type="text/css" media="screen">
        <script type="text/javascript" src="/ph/widgets/QUnit/qunit/qunit/qunit.js"></script>
        <script src="/ph/widgets/QUnit/qunit/test/swarminject.js"></script>
    {% endblock %}
</head>
<body>
	<h1 id="qunit-header">QUnit Test Suite</h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
	<div id="qunit-fixture">test markup</div>

    {% block tests %}

    {% endblock %}
</body>
</html>
