{# 
vim:filetype=jinja: 
#}
{% import 'Core/template/phifty/forms.html' as forms %}

<div class="section w-90p center">
    <div class="hd">{{ CRUD.Title }}</div>
    <div class="bd">

        {% block section_body %}

        <form method="post">
            
            <div class="button-group">
                {% if record.id %}
                    <input class="button create" type="submit" value="{% trans 'Save' %}"/>
                {% else %}
                    <input class="button" type="submit" value="{% trans 'Create' %}"/>
                {% endif %}
                <input class="button" type="button" value="{% trans "Close" %}" onclick=" Region.of(this).fadeRemove();"/>
            </div>

        </form>

        {% endblock %}
    </div>
</div>

