{#
{% extends 'TestApp/template/qunit_base.html' %}
#}
{% extends 'widgets/QUnit/template/base.html' %}




{% block tests %}

{# 
jQuery QUnit test for Action.js:


TODO:

- Refactor Action
- Move Action.js into action.js repository.
- Move Action.js QUnit Testing into action.js repository
- Add action.js build script.

#}

<script src="/ph/Core/js/jquery/jquery-1.6.2.min.js"> </script>
<script src="/ph/Core/js/minilocale.js"> </script>
<script src="/ph/Core/js/simpleclass.js"> </script>
<script src="/ph/Core/js/region.js"> </script>
<script src="/ph/Core/js/action.js"> </script>

{{ Web.include_widgets|raw }}
{{ Web.include_plugins|raw }}

<script type="text/javascript">

$(document.body).ready(function() {

    test("a basic test example", function() {
        ok( true, "this test is fine" );
        var value = "hello";
        equal( value, "hello", "We expect value to be hello" );
    });

    test('Action constructor' , function() {
        var a = new Action;
        ok( a );

    });

    test('plug/reset' , function() {

        equals( 0, Action._global_plugins.length );

        Action.plug( ActionGrowler );

        equals( 1, Action._global_plugins.length );

        Action.reset();

        equals( 0, Action._global_plugins.length );
    });

    asyncTest('asynchronous test', function() {

        Action.plug( ActionGrowler );

        runAction('TestApp::Action::Dummy',{ name: 'John' }, function(resp) { 
            ok( resp, 'response info' );
            ok( resp.success );
            equals( resp.message , 'Hello John' );
            start();
        });

        Action.reset();
    });

    test('Action form' , function() {

        var a = new Action( $('#testform1') , {  });
        ok( a );

    });

    test('Action plugin base test', function() {

        var a = new Action;
        ok( a );

        ok( ActionPlugin );
        var plugin = new ActionPlugin(a);
        ok( plugin );
        ok( plugin.action );
        equals( plugin.action , a , 'plugin action == action' );

        var growler = new ActionGrowler(a);
        ok( growler );

        a.plug( ActionGrowler , { type: 'jGrowl' } );
        ok( a.plugins );
        equals( 1 , a.plugins.length , 'one plugin loaded' );
    });

    test('Action.js', function() {
        ok( Action , 'has action' );
        var a = new Action;
        ok( a , 'action created' );
    });

});
</script>

<div>
    <form id="testform1">
        <input type="text" name="action" value="TestApp::Action::Dummy"/>
        <input type="text" name="name" value="Dummy Name"/>
        <input type="submit"/>
    </form>
</div>

{% endblock %}
