{#
vim:filetype=jinja:
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% set appname = Kernel.getAppName() %}
    {% block head %}

    <title>{% block title %} {{ title|default(appname) }} {% endblock %}</title>
    <meta name="keywords" content="{{ keywords }}"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="content" content="Content-Type: text/html; charset: {{ charset |default('UTF-8') }}; " />
    <meta charset="{{ charset|default('UTF-8') }}"/> 

    {% block head_core %}
        {{ Web.include_core_js | raw }}
        {{ Web.include_core_css | raw }}
    {% endblock %}

    {{ Web.include_widget_js | raw }}
    {{ Web.include_widget_css | raw }}

    <!--
    <script type="text/javascript" charset="utf-8" src="jquery-ui/js/jquery-1.5.1.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="jquery-ui/js/jquery-ui-1.8.14.custom.min.js"> </script>
    <link rel="stylesheet" href="jquery-ui/css/redmond/jquery-ui-1.8.14.custom.css" type="text/css" media="screen" charset="utf-8" />
    -->
    {% endblock %}
</head>
<body>

{% block content %} 

{% endblock %}

</body>
</html>
