
body {
    padding:0;
    margin:0;
    background: #fff;
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    /* font-family: Times New Roman, Serif; */
    /*
    color:      #2d2d2d;
    background: #94E5F7;
    */
}

h1,h2,h3,h4 { margin: 10px 0px; }


/* -- admin page div style --- */

.content,
#content { 
    clear:both;
    margin: 0px 10px 10px 10px; 
    margin-bottom: 20px;
    padding:0px;
}


#content input[type=text], 
#content input[type=password], 
#content textarea { 
    padding: 8px; 
    font-size: 16px; 
    border: 1px solid #55dbf4;
/*     background: #55dbf4; */
    border-top: 1px solid #55abf4;
    border-bottom: 1px solid #55abf4;
    color: #000;
    /* background: #eee; */
}

#content input[type=button],
#content input[type=file],
#content input[type=submit] {
/*     background: #88eeff; */
    border-top: 1px solid #66ccff;
    border-left: 1px solid #66ccff;
    border-right: 1px solid #44ccee;
    border-bottom: 1px solid #44ccee;
}

#content input[type=button]:hover,
#content input[type=file]:hover,
#content input[type=submit]:hover {
/*     background: #ccffff; */
}




#content select { 
    padding: 1px; 
/*     background: #55dbf4; */
    border: 1px solid #55abf4;
    font-size: 16px;
}
#content input:focus,
#content textarea:focus { 
    border: 1px solid #8EEAFE;
/*     background: #8EEAFE; */
}

#footer { 
    clear:both; 
    margin: 10px; 
    margin-top: 20px;
    font-size: 9px; 
    text-align: center;
    padding: 2px;
    color: #aaa;

    border-top:1px solid #ddd; 
    border-bottom:1px solid #ddd; 
}

.logo-text {
    float: left;
    font-size: 32px; 
    margin: 8px 20px 10px 20px; 
    font-style:italic; 
    font-family: Times new roman;
}

ul#panel-buttons { 
    margin: 10px 10px 0px 10px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 4px;

/*     background: #fff; */
    width: 70%;
}

ul#panel-buttons li { 
    font-size: 18px; 
    padding: 7px 15px; 
    display: inline;

/*     background: #55dbf4; */
    color: #000;
    border: 1px solid #aaa;

/*     border: 2px solid #aaa; */
    /*
    background: url(../images/gray-gradient.jpg);
    */
}

ul#panel-buttons li:hover { 
/*     background: #fff000; */
    border: 1px solid #ddd000; 
    color: #dd5000;
}

.tab-button {
    font-size: 12px;
    padding: 3px 8px;
    display: inline;
    margin-left: 3px;
/*
    border: 1px solid #dedede;
    background: #fff;
    */
}
.tab-button:hover { 
    /*
    background: #ddd;  
    */
}

div#panel {
	position: relative;
    width: 80%;
	float: left;
	padding: 6px;
    clear: both;

    border-top: 3px solid #333;
/*     background: #06bddd; */

/*    background-color: #dedede;
    background-image: url(../images/grid-bg.gif); */
}

/* -- admin page div style --- */




input.submit-btn {  font-size: 20px; font-weight: bold ; padding: 8px;  }
input.delete-btn {  font-size: 20px; font-weight: normal ; padding: 8px; }

.big { font-size: 22px; }

/* #5CB800 */
div.sidebar {
	float: right;
	width: 25%;
    padding: 10px;
    /*
	background: #fff;
    border: 1px solid #ccc;
    */
}
div.sidebar label {  
    font-weight:bold;
    padding: 10px;
}


div.image-upload { 
	position: absolute;
	top: 60px;
	right: 10px;
}

div.thumb img { margin:10px; padding:10px; border:1px solid #ddd; }

.row { border-bottom: 1px solid #ddd; }
.row:hover { background: #ddd;  }
.column { margin: 5px 0px 5px 5px;  }

/*
div.column { 
	float: left;
	margin-right: 10px;
}
*/

.label-pending { 
    /*
    background: #C6F66F;
    border: 1px solid #82B22C;
    */
    padding: 4px 4px;
}

.label-draft {
    /*
    background: #5ccccc;
    border: 1px solid #099;
    */
    padding: 4px 4px;
}

.lang-selector {
    padding: 8px;
    display: inline;

    /*
    background: #fff;
    border: 1px solid #ccc;
    */
}


div.label  {  
    float: left; margin: 10px; 
    font-size: 16px; 
    width: 120px; 
    text-align: right; 
}
div.field  {  
    float: left; 
    margin: 10px; 
}


.product-cover {
    float: left; 
    width: 64px; height: 64px; margin:10px; 
    border:1px solid #ccc;
    background:#fff; padding: 5px;
}

.product-cover img,
.product-cover a img {
    width: 48px;
    height: 48px;
}


/* result table style */
.result-table {  border-spacing: 0px; }
.result-table td {  
    background: #fff;
    border-bottom: 1px solid #ffa200; 
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 3px;
    color: #aaa;
}





