
/* common button rect styles */
.button-16 { margin: 2px; float: left; height: 16px; width: 16px; }
.button-18 { margin: 2px; float: left; height: 18px; width: 18px; }
.button-20 { margin: 2px; float: left; height: 20px; width: 20px; }
.button-24 { margin: 2px; float: left; height: 24px; width: 24px; }
.button-32 { margin: 2px; float: left; height: 32px; width: 32px; }
