.small { font-size: 12px; }
.bold {  font-weight: bold; }
.italic { font-style: italic; }
.text-shadow { text-shadow: #ddd 0 1px; }


/* header div */
.hd {  }

/* body div */
.bd {  }

/* footer div */
.fd {  }

/* floating columns */
.column { float: left; }
.center { margin: 0 auto; }
.left { float: left; }
.right { float: right; }


/* text alignment */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }


.hide { display: none; }

/* width */
.w-100 { width: 100px; }
.w-120 { width: 120px; }
.w-140 { width: 140px; }
.w-160 { width: 160px; }
.w-180 { width: 180px; }
.w-200 { width: 200px; }
.w-220 { width: 220px; }
.w-240 { width: 240px; }
.w-260 { width: 260px; }
.w-280 { width: 280px; }
.w-300 { width: 300px; }
.w-320 { width: 320px; }
.w-340 { width: 340px; }
.w-360 { width: 360px; }
.w-380 { width: 380px; }
.w-400 { width: 400px; }
.w-420 { width: 420px; }
.w-440 { width: 440px; }
.w-460 { width: 460px; }
.w-480 { width: 480px; }
.w-500 { width: 500px; }
.w-520 { width: 520px; }
.w-540 { width: 540px; }
.w-560 { width: 560px; }
.w-580 { width: 580px; }
.w-600 { width: 600px; }


.w-50p { width: 50%; }
.w-60p { width: 60%; }
.w-70p { width: 70%; }
.w-80p { width: 80%; }


.ajax-loading { 
    border-radius: 5px;
    color: #888;
    background: url(../images/progress.gif) 5px 5px no-repeat #fff;
    padding: 5px;
    padding-left: 25px;
}

