
/* g-buttons */
button.g-button, a.g-button, input[type="submit"].g-button {
    margin: 0px;
    border: solid 1px #999;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(white),to(#DDD));
    background: -moz-linear-gradient(white,#DDD);
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    text-shadow: 0px 1px 1px white;
    height: 30px;

    border-radius: 3px;
    behavior: url(border-radius/border-radius.htc);
}

input.g-text-input {
    border: solid 1px #999;
    font-size: 1.2em;
    text-shadow: 0px 1px 1px #ddd;
    color: #333;
    padding: 6px 3px;
    border-radius: 2px;
    behavior: url(border-radius/border-radius.htc);
}


/*
.home input[type="text"] {
outline: none;
border-color: #CCC #999 #999 #CCC;
border-style: solid;
border-width: 1px;
font-size: 18px;
font-family: arial,sans-serif;
margin: 0px;
height: 28px;
padding: 0px;
padding-left: 5px;
vertical-align: top;
}
*/
