

/* old pager */

/*
.pager-row { 
    margin-bottom: 10px; 
    text-align: right; 
}
.pager-link { 
    padding: 3px; 
    margin: 3px; 

    border: 1px solid #aaa000; 
    background:#fff000;
    color: #666000;
}
.pager-current { font-weight: bold; font-size: 18px; margin-top:5px; margin-bottom: 10px; color: #000;   }
.pager-number {  margin: 3px; }
.pager-number-current { 
    font-weight: bold; 
    background:#fff000;
}
.pager-first { }
.pager-last  { }
.pager-disabled { 
    color: #ddd; border:1px solid #ddd; 
}

.pager-link:hover { background: #def; }

a.pagenumber { margin: 3px; font-size: 18px; border: 1px solid #ccc; padding: 3px; text-decoration: none; }
a.pagenumber:hover  { text-decoration: underline; }

*/
