
.border-radius {
/* 	behavior: url(border-radius/border-radius.htc); */
}

.r10 , .r-big {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
/* 	behavior: url(border-radius/border-radius.htc); */
}

.r5, .r-medium {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
/* 	behavior: url(border-radius/border-radius.htc); */
}

.r3, .r-small {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
/* 	behavior: url(border-radius/border-radius.htc); */
}

