

/* section */
.section {
    padding: 10px;
}

.section .hd .nav { 
    position: absolute;
    right: 9px;
    top: 3px;
}



/* section header */
.section .hd {
    position: relative;

    border-top: 1px solid #3aa6d0;
    border-left: 1px solid #3aa6d0;
    border-right: 1px solid #62b1d0;
    border-bottom: 1px solid #888;
    padding: 7px 10px 7px 10px;


    color: #fff;
    font-size: 13px;


    /* css3 attributes */
    background-color: #62B1D0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#62b1d0), to(#9CD));
    background: -webkit-linear-gradient(#62b1d0, #9CD);
    background: -moz-linear-gradient(#62b1d0, #9CD);
    background: -ms-linear-gradient(#62b1d0, #9CD);
    background: -o-linear-gradient(#62b1d0, #9CD);
    background: linear-gradient(#62b1d0, #9CD);
    -pie-background: linear-gradient(#62b1d0, #9CD);



    /* border radius */
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;

    /* text-shadow */
    -webkit-text-stroke: #111 1px 1px;
    -moz-text-shadow: #111 1px 1px;
    text-shadow: #111 1px 1px;

    -webkit-font-smoothing: subpixel-antialiased; /* or antialiased; */
    -webkit-text-stroke: 0.05em white; /* or 0.01em might be better */


    /* box-shadow */
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    /*  box-shadow: #666 0px 0px 10px; */

    behavior: url(/ph/core/css/pie/PIE.htc);
}



.section .bd {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px;

    border-radius: 0 0 10px 10px;

    position: relative;
    background: #ddd;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
    behavior: url(/ph/core/css/pie/PIE.htc);
}

.section .text-block {
    color: #000;
    -webkit-text-stroke: #fff 1px 1px;
    -moz-text-shadow: #fff 1px 1px;
    text-shadow: #fff 1px 1px;

    font-size: 14px;
    line-height: 160%;
}


/* tabs style */
.section ul.inner-tabs {
    list-style: none;
    margin: 10px 10px;
    padding: 10px 10px;
    background: #333;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: #888 0px 0px 6px;
    -moz-box-shadow: #888 0px 0px 6px;

/*     box-shadow: #888 0px 0px 6px; */

    background-color: #888;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#888), to(#333));
    background: -webkit-linear-gradient(#888, #333);
    background: -moz-linear-gradient(#888, #333);
    background: -ms-linear-gradient(#888, #333);
    background: -o-linear-gradient(#888, #333);
    background: linear-gradient(#888, #333);
    -pie-background: linear-gradient(#888, #333);
/*     behavior: url(/ph/core/css/pie/PIE.htc); */

}

.section .inner-tabs li {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.section .inner-tabs li a {
    text-decoration: none;
    margin: 0px;
    padding: 10px 5px;
    color: #eee;
    -webkit-text-stroke: #000 1px 1px;
    -moz-text-shadow: #000 1px 1px;
    text-shadow: #000 1px 1px;
}

.section .inner-tabs li a:hover {


    background-color: #62B1D0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#62b1d0), to(#333));
    background: -webkit-linear-gradient(#62b1d0, #333);
    background: -moz-linear-gradient(#62b1d0, #333);
    background: -ms-linear-gradient(#62b1d0, #333);
    background: -o-linear-gradient(#62b1d0, #333);
    background: linear-gradient(#62b1d0, #333);
    -pie-background: linear-gradient(#62b1d0, #333);

/*     behavior: url(/ph/core/css/pie/PIE.htc); */
}

/* inner block body */
.section .inner-body {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;

    padding: 6px;
    background-color: #eee;

    /* css3 */
    -webkit-box-shadow: #999 0px 0px 3px;
    -moz-box-shadow: #999 0px 0px 3px;
    /* no box-shadow */

    /* border radius */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

/*     behavior: url(/ph/core/css/pie/PIE.htc); */
}



.section h1,
.section h2,
.section h3,
.section h4,
.section h5 { 
    color: #333;
    text-shadow: #fff 1px 2px;
    margin-top: 20px;
    margin-bottom: 16px;
}





/* ================
 * result table 
 * ================
 * */
table.result { 
    background: #f8f8f8;
    border: 1px solid #bbb;
    border-collapse: 0px;
    border-spacing: 0px;
    border-radius: 5px;
    padding: 5px;
}

/* row styles */
table.result tr {
    height: 28px;
}
table.result tr.even {  
    background: #f8f8f8;

}
table.result tr.old {
    background: #e5e5e5;
}
table.result tr:hover {
    background-color: #ade;
}



table.result td { 
    text-align: center; 
    vertical-align: middle;
    padding: 3px 0px;
}

table.result th { 
    vertical-align: middle;
    font-weight: bold; 
    border-bottom: 1px dotted #888; 
    padding: 3px 0px;
    border-right: 1px solid #aaa;
    min-width: 20px;
}


    .column-header { position: relative; }
    .column-name { }

    .column-sort-asc,
    .column-sort-desc {
        position: absolute;
        display: block;
        width:  16px;
        height: 16px;
        position: absolute;
        top: 1px;
        right: 5px;
    }

    .column-sort-desc { 
        background: url(/ph/core/images/sort-desc.png) 1px 1px no-repeat;
    }

    .column-sort-asc {
        background: url(/ph/core/images/sort-asc.png) 1px 1px no-repeat;
    }



    .column-sort-asc:hover,
    .column-sort-desc:hover { 
        right: 4px;
        top: 2px;
    }







/* =====================
 * span classes 
 * =====================
 * */
.price {
    text-shadow: #fff 1px 1px;
    font-weight: bold;
    border-bottom: 1px dotted #aaa;
/*     behavior: url(css/pie/PIE.htc); */
}

.quantity {
    font-size: 110%;
    font-family: Courier New;
    font-weight: bold;
    -webkit-text-stroke: #fff 1px 1px;
    -moz-text-shadow: #fff 1px 1px;
    text-shadow: #fff 1px 1px;
}

.company {
    color: #333;
    font-weight: bold;
    text-shadow: #fff 1px 1px;
    font-style: italic;
}

.discount {
    color: #532;
}

.degree { 
    border: 1px solid #aaa;
    background: #fff;
    padding: 2px 4px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;


    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;



    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#eee));
    background: -webkit-linear-gradient(#fff, #eee);
    background: -moz-linear-gradient(#fff, #eee);
    background: -ms-linear-gradient(#fff, #eee);
    background: -o-linear-gradient(#fff, #eee);
    background: linear-gradient(#fff, #eee);
    -pie-background: linear-gradient(#fff, #eee);

    -webkit-text-shadow: #fff 0px 1px;
    -moz-text-shadow: #fff 0px 1px;
/* text-shadow: #fff 0px 1px; */

/*     behavior: url(css/pie/PIE.htc); */
}




/* =============
 * pager
 * =============
 * */
.pager { 
    text-align: right;
    margin: 15px 10px;
}
.pager a {
    text-decoration: none;
    color: #000;

    text-shadow: #fff 0px 1px;
    border: 1px solid #aaa;
    background: #fff;
    padding: 4px 6px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#eee));
    background: -webkit-linear-gradient(#fff, #eee);
    background: -moz-linear-gradient(#fff, #eee);
    background: -ms-linear-gradient(#fff, #eee);
    background: -o-linear-gradient(#fff, #eee);
    background: linear-gradient(#fff, #eee);
    -pie-background: linear-gradient(#fff, #eee);
/*     behavior: url(css/pie/PIE.htc); */
}

.pager a:hover {
    background: #ccc;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ccc), to(#eee));
    background: -webkit-linear-gradient(#ccc, #eee);
    background: -moz-linear-gradient(#ccc, #eee);
    background: -ms-linear-gradient(#ccc, #eee);
    background: -o-linear-gradient(#ccc, #eee);
    background: linear-gradient(#ccc, #eee);
    -pie-background: linear-gradient(#ccc, #eee);
/*     behavior: url(css/pie/PIE.htc); */
}

.pager a.active,
.pager a:active {
    background: #ccc;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ccc), to(#888));
    background: -webkit-linear-gradient(#ccc, #888);
    background: -moz-linear-gradient(#ccc, #888);
    background: -ms-linear-gradient(#ccc, #888);
    background: -o-linear-gradient(#ccc, #888);
    background: linear-gradient(#ccc, #888);
    -pie-background: linear-gradient(#ccc, #888);
/*     behavior: url(css/pie/PIE.htc); */
}




