.hint {
    z-index: 99;

}
.hint-arrow { 
    background-image: url(images/modal-arrow.png);
    width: 30px;
    height: 30px;
    z-index: 9;
    position: relative;
    top: 1px;
    left: 3px;
}
.hint-title { 
    color: #330;
    font-size: 18px;
    margin-bottom: 5px;
}
.hint-step {
    float: left;
    margin: 1px 10px 1px 0px;
    line-height: 100%;
    font-size: 36px;
/*     border: 1px solid red; */
    height: 50px;
}

.hint-text {
    line-height: 130%;

/*     border: 1px solid red; */
}

.hint-modal {
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #ff6;
    padding: 10px;
    width: 300px;
    font-family: georgia;
    font-size: 14px;
    color: #660;
    margin-bottom: 30px;
    z-index: 8;
}

a.hint-link { 
    color: #000; 
    font-weight:bold; 
    text-decoration: none;
    font-size: 12px;
}
a.hint-link:hover {
    text-decoration: underline;
}

.hint-closebtn { 
    background-image: url(images/close-btn.png);
    width: 16px;
    height: 16px;
    float: right;
}
.hint-closebtn:hover { 
    position: relative;
    left: 0.1em;
    top: 0.1em;
}

